/* INFO **
** INFO */

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Import compass mixins */
@import "compass/reset";
@import "compass/css3/filter";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Import common stuffs */
@import "common";


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400i);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300,900);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900);


/*----------------------------------------------------------------------------*/
html,
body
{
    position    : relative;
    width       : 100%;
    color       : $REDORANGE;
    font-family : 'Source Sans Pro', sans-serif;
    font-weight : 400;
    font-size   : 14pt;
    background  : $BLUEGRAY;
    line-height : 1.2;
    @include box-sizing(border-box);
}


/*----------------------------------------------------------------------------*/
#content
{
    width     : 100%;
    position  : relative;


    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    &-top
    {
        position   : fixed;
        display    : table;
        top        : 0;
        left       : 0;
        min-width  : 940px;
        width      : 100%;
        z-index    : 999;
        padding    : $PADDING;
        background : transparentize($BLUEGRAY, 0.1);
        @include box-sizing(border-box);


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-left
        {
            float          : left;
            text-transform : uppercase;
            text-align     : right;
            padding-right  : $PADDING;
            border-right   : 1px solid $REDORANGE;

            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            & > div:first-child
            {
                font-family : 'Source Code Pro', monospace;
                font-size   : 24pt;
                font-weight : 900;

                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                & > p span
                {
                    font-weight : 300;
                }
            }

            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            & > div:last-child
            {
                padding-top : round($PADDING/2);
                font-size   : 12pt;
                font-weight : 400;
            }
        }

        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-right
        {
            float        : left;
            font-family  : 'Crimson Text', serif;
            font-style   : italic;
            font-size    : 13pt;
            font-weight  : 400;
            display      : block;
            padding-left : $PADDING;
            display      : inline-block;
            position     : absolute;
            top          : 50%;
            @include translateY(-50%);


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            & > p
            {
                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                & > span
                {
                    text-transform : capitalize;
                    font-weight    : 400;
                    font-style     : normal;
                }
            }
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-back
        {
            float        : right;
            padding-left : $PADDING;
            height       : 100%;

            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            & > a
            {
                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                & > span
                {
                    text-transform : uppercase;
                    font-family    : 'Source Sans Pro', sans-serif;
                    font-size      : 10pt;
                    font-weight    : 400;
                    display        : inline-block;
                    vertical-align : middle;
                }

                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                & > img
                {
                    padding-right  : 6px;
                    display        : inline-block;
                    vertical-align : middle;
                }
            }
        }
    }


    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    &-bottom
    {
        position   : relative;
        top        : 250px;

        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        & > p:first-child
        {
            width : 100%;
            display        : block;
            text-align     : center;
            text-transform : uppercase;
            font-size      : 9pt;
            margin-bottom  : round($PADDING/2);
            position       : fixed;
            bottom         : 0;
            z-index        : -100;
        }
    }
}


/*----------------------------------------------------------------------------*/
.content
{
    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    &-bottom
    {
        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-post
        {
            visibility    : hidden;
            color         : $YELLOWWHITE;
            position      : absolute;
            width         : $POST-SIZE;
            height        : $POST-SIZE;
            padding-bottom : $PADDING;
            @include transition(color 0.5s ease);

            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            &:hover
            {
                color : $REDORANGE;

                & > img
                {
                    @include filter(none);
                    @include box-shadow(0 2px 10px rgb(70, 79, 96));
                }
            }

            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            & > img
            {
                width         : $POST-SIZE;
                height        : $POST-SIZE;
                border-radius : 50%;
                z-index       : 50;
                @include filter(grayscale(100%));
                @include transition(filter 0.5s ease,
                                    box-shadow 0.5s ease);
            }

            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            & > div
            {
                position   : absolute;
                top        : 0;
                left       : 0;
                width      : $POST-SIZE;
                height     : $POST-SIZE;
                text-align : center;
                z-index    : 100;
                @include transform-style(preserve-3d);


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                & > div
                {
                    position : relative;
                    display  : block;
                    top      : 50%;
                    @include translateY(-50%);

                    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    & span
                    {
                        display        : inline-block;
                        text-transform : uppercase;
                        background     : rgba(0, 0, 0, 0.65);
                        padding        : 0 6px;
                    }
                }
            }
        }
    }
}
