//- INFO --
//- INFO --

extends _project

block title
    title Antler

block project
    +cover(['antler'],
           '2010',
           '../img/antler/mug.png',
           [
                'Mug handler study for Douwe Egberts.'
           ])

    table
        +left-image('../img/antler/forces.png',
                    'The shape of the handler is based on the forces ' +
                    'balancing the mug with two (or more) fingers.',
                    'background: #000000; color: #E7EAEE;')
