//- INFO --
//- INFO --

extends _project

block title
    title BF CCN Regular

block project
    +cover(['bf ccn'],
           '2011',
           '../img/bfccn/glyphs.png',
           [
                'Pixel-perfect typeface influenced by old technical glyphs.'
           ])

    table
        +left-image('../img/bfccn/pixels.png',
                    'Each segment of the curves can be mapped '          +
                    '1:1 to pixels. As a matter of fact, initially the ' +
                    'glyphs were all designed and rendered in &ldquo;'   +
                    'hard pixel&rdquo; representations.',
                    'color: #3D4759;')

        +right-image('../img/bfccn/letters.png',
                     'The typeface was designed especially for UI purposes,  ' +
                     'to be used in a CAD application, the Butterfly Cocoon '  +
                     '(since version 3.1.3), later for Devsigner Beyond3D.',
                     'color: #3D4759;')
