//- INFO --
//- INFO --

extends _project

block title
    title COCOON

block project
    +cover(['cocoon'],
           '2011',
           '../img/cocoon/icons.png',
           [
                '13 &times; 13 pixel perfect icon and cursor sets.'
           ])

    table
        +left-image('../img/cocoon/cursors.png',
                    'Matching cursor set, designed for a ' +
                    '3D CAD application, Butterfly Cocoon',
                    'color: #3D4759;')
