//- INFO --
//- INFO --

extends _project

block title
    title DEVSIGNER

block project
    +cover(['devsigner'],
           '2010 &mdash; 2013',
           '../img/devsigner/screenshot.png',
           [
                'Generative 3D CAD modeling and cloud based ' +
                'parameterising and shopping ecosystem.'
           ])

    table
        +right-image('../img/devsigner/showroom.png',
                     'The uploaded &ldquo;code&rdquo; of the products made '  +
                     'by professional designers, could be parameterised and ' +
                     'selled in a safe, client-side environment. The bought ' +
                     'product could be 3D printed then.',
                     'color: #3D4759;')
