//- INFO --
//- INFO --

extends _project

block title
    title Shapes and Formes

block project
    +cover(['forms'],
           '2011 &mdash; 2012',
           '../img/forms/perspective.png',
           [
                'Various digital and real-life sculptures, studies.'
           ])

    table
        +right-image('../img/forms/oldowan.png',
                     'OLDOWAN &mdash; stainless steel &ldquo;single-' +
                     'surface&rdquo; butter knife design for private client.',
                     'background: #FFFFFF; color: #3D4759;')

        +left-image('../img/forms/bean.png',
                    'GLASS BEAN &mdash; Form and material ' +
                    'study, made of sanded clear glass.',
                    'background: #000000; color: #E7EAEE;')
