//- INFO --
//- INFO --

extends _project

block title
    title Jewelry

block project
    +cover(['jewelry'],
           '2008 &mdash; 2011',
           '../img/jewelry/mushroom.png',
           [
                'Various jewellery designs.'
           ])

    table
        +left-image('../img/jewelry/curvature.png',
                    'MAGIC MUSHROOM &mdash; Curvature-graph analysis ' +
                    'of a dioda setting in ring. Made of turned and '  +
                    'milled aluminium and laminated acrylic sheets.',
                    'color: #3D4759;')

        +right-image('../img/jewelry/mt3.png',
                     'MT3 &mdash; Cone setting in pendant, using the ' +
                     'Morse-taper principle. Wirecut EDM aluminium '   +
                     'and turned, tempered silver steel.',
                     'color: #3D4759;')

        +left-image('../img/jewelry/missng.png',
                    'MISS_NG &mdash; Ring of harmony of geometric '    +
                    'disharmony and unbalance. Made of turned bronze ' +
                    'and iroko exotic hardwood.',
                    'color: #3D4759;')

        +right-image('../img/jewelry/cyclops.png',
                     'CYCLOPS &mdash; The shells of the ring held '     +
                     'together with a single longitudinal screw. Made ' +
                     'of turned aluminium, brinze and titanium.',
                     'color: #3D4759;')

        +left-image('../img/jewelry/crossover.png',
                    'CROSSOVER &mdash; Ring between the boundaries '   +
                    'of 2 and 3 dimensions. Made of turned aluminium ' +
                    'and 3D printed stainless steel.',
                    'color: #3D4759;')
