//- INFO --
//- INFO --

extends _project

block title
    title PSEO Monkey

block project
    +cover(['PSEO'],
           '2011',
           '../img/pseo/stand.png',
           [
                'Phone Stand Eurbud Organiser.'
           ])

    table
        +left-image('../img/pseo/package.png',
                    'MAGIC MUSHROOM &mdash; Curvature-graph analysis ' +
                    'of a dioda setting in ring. Made of turned and '  +
                    'milled aluminium and laminated acrylic sheets.',
                    'background: #FFFFFF; color: #3D4759;')

        +right-image('../img/pseo/organiser.png',
                     'MT3 &mdash; Cone setting in pendant, using the ' +
                     'Morse-taper principle. Wirecut EDM aluminium '   +
                     'and turned, tempered silver steel.',
                     'background: #FFFFFF; color: #3D4759;')