/* INFO **
** INFO */
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Import compass mixins */
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300,900);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400i,700i);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Import fonts */
/*----------------------------------------------------------------------------*/
/* Constants */
/*----------------------------------------------------------------------------*/
html,
body {
  position: relative;
  width: 100%;
  color: #FF4929;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  background: #E7EAEE;
  line-height: 1.2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------------------------------------------------------------*/
body {
  font-variant-ligatures: common-ligatures;
  font-variant-ligatures: historical-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/*----------------------------------------------------------------------------*/
a {
  color: inherit;
  text-decoration: none;
}

/*----------------------------------------------------------------------------*/
#content {
  width: 100%;
  position: relative;
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
#content-top {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  min-width: 940px;
  width: 100%;
  z-index: 999;
  padding: 32px;
  background: rgba(231, 234, 238, 0.9);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
#content-top-left {
  float: left;
  text-transform: uppercase;
  text-align: right;
  padding-right: 32px;
  border-right: 1px solid #FF4929;
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
#content-top-left > div:first-child {
  font-family: 'Source Code Pro', monospace;
  font-size: 24pt;
  font-weight: 900;
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
#content-top-left > div:first-child > p span {
  font-weight: 300;
}
#content-top-left > div:last-child {
  padding-top: 16px;
  font-size: 12pt;
  font-weight: 400;
}
#content-top-right {
  float: left;
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-size: 14pt;
  font-weight: 400;
  display: block;
  padding-left: 32px;
  display: inline-block;
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
#content-top-right > p {
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
#content-top-right > p > span {
  text-transform: capitalize;
  font-weight: 700;
}
#content-top-back {
  float: right;
  padding-left: 32px;
  height: 100%;
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
#content-top-back > a {
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
#content-top-back > a > span {
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
}
#content-top-back > a > img {
  padding-right: 6px;
  display: inline-block;
  vertical-align: middle;
}
#content-bottom {
  position: relative;
  top: 200px;
}

/*----------------------------------------------------------------------------*/
.content {
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
.content-bottom {
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
.content-bottom-post {
  visibility: hidden;
  color: #FFF8BD;
  position: absolute;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  -moz-transition: color 0.5s ease, box-shadow 0.5s ease;
  -o-transition: color 0.5s ease, box-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease, box-shadow 0.5s ease;
  transition: color 0.5s ease, box-shadow 0.5s ease;
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
.content-bottom-post:hover {
  color: #FF4929;
  -moz-box-shadow: 0 4px 16px #464f60;
  -webkit-box-shadow: 0 4px 16px #464f60;
  box-shadow: 0 4px 16px #464f60;
}
.content-bottom-post > img {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  z-index: 1;
}
.content-bottom-post > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 168px;
  height: 168px;
  text-align: center;
  z-index: 2;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
.content-bottom-post > div > div {
  position: relative;
  display: block;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
.content-bottom-post > div > div span {
  display: inline-block;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.65);
  padding: 0 6px;
}
