/* INFO **
** INFO */
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Import compass mixins */
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400i);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Import common stuffs */
/* INFO **
** INFO */
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Import compass mixins */
/*----------------------------------------------------------------------------*/
/* Constants */
/*----------------------------------------------------------------------------*/
body {
  font-variant-ligatures: common-ligatures;
  font-variant-ligatures: historical-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/*----------------------------------------------------------------------------*/
a {
  color: inherit;
  text-decoration: none;
}

/*----------------------------------------------------------------------------*/
sup {
  vertical-align: super;
  font-size: 75%;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Import fonts */
/*----------------------------------------------------------------------------*/
html,
body {
  width: 100%;
  background: #E7EAEE;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------------------------------------------------------------*/
#content {
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
#content-cover {
  position: relative;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0;
  color: #FF4929;
  text-align: left;
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
#content-cover > img {
  width: 100%;
  height: 100%;
}
#content-cover > div {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
#content-cover > div > div {
  min-width: 400px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.75);
  padding: 32px;
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
#content-cover > div > div > a {
  position: relative;
  display: block;
  z-index: 100;
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
#content-cover > div > div > a > span {
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
}
#content-cover > div > div > a > img {
  padding-right: 6px;
  display: inline-block;
  vertical-align: middle;
}
#content-cover > div > div > h1 {
  font-weight: 900;
  font-size: 96pt;
  position: relative;
  display: block;
  z-index: 10;
  text-transform: uppercase;
}
#content-cover > div > div > p {
  font-weight: 400;
  font-size: 16pt;
  position: relative;
  display: block;
  z-index: 50;
}
#content-cover > div > div > div {
  display: block;
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #FF4929;
}
#content-cover > div > div > div.content-cover-abstract {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-size: 14pt;
  font-weight: 400;
  line-height: 1.2;
}
#content-cover > div > div > div.content-cover-links {
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
#content-cover > div > div > div.content-cover-links > a {
  position: relative;
  display: block;
  z-index: 100;
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - */
}
#content-cover > div > div > div.content-cover-links > a > span {
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
}
#content-cover > div > div > div.content-cover-links > a > img {
  padding-right: 6px;
  display: inline-block;
  vertical-align: middle;
}
#content-copy {
  width: 100%;
  display: block;
  color: #FF4929;
  text-align: center;
  text-transform: uppercase;
  font-size: 9pt;
  margin: 16px 0;
}

/*----------------------------------------------------------------------------*/
.content {
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
.content-single {
  font-size: 0;
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
.content-single > img {
  width: 100%;
  height: 100%;
}
.content-image {
  display: flex;
  width: 100%;
  min-height: 200px;
  font-size: 0;
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
.content-image > img {
  flex: 1;
  max-width: 100%;
  height: auto;
}
.content-image > div {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 320px;
  text-align: center;
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
.content-image > div > p {
  max-width: 320px;
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  font-size: 14pt;
  margin: 0 auto;
}
