//- INFO --
//- INFO --

extends _project

block title
    title Mac OS X Cursor

block project
    +cover(['avatars'],
           '2005 &mdash; 2013',
           '../img/avatars/delaunay.png',
           [
                'Self portraits over the years in ' +
                'different styles and techniques.'
           ])

    +image('../img/avatars/comic.png')
    +image('../img/avatars/cartoon.png')
    +image('../img/avatars/toon.png')
    +image('../img/avatars/pixel.png')
