//- INFO --
//- INFO --

extends _project

block title
    title LOWCA

block project
    +cover(['lowca'],
           '2008',
           '../img/lowca/sketch.png',
           [
                'Modern approach of a traditional folk bench.'
           ])

    +left-image('../img/lowca/perspective.png',
                'Based on traditional hungarian peasant furnitures, ' +
                'this seat is designed for Fütyülös',
                'background: #000000; color: #E7EAEE;')

    +right-image('../img/lowca/detail.png',
                 'This 1/5<sup>th</sup> scale model is made ' +
                 'of steam-bent plywood, brushed aluminium '  +
                 'and acrylic sheets.',
                 'background: #FFFFFF; color: #3D4759;')

    +left-image('../img/lowca/logo.png',
                'The folklore based logo of Fütyülös was '   +
                'the perfect inspiration: design the bench ' +
                'around the artwork, as our ancestors did.',
                'background: #000000; color: #E7EAEE;')
