//- INFO --
//- INFO --

extends _project

block title
    title MATH_SRF

block project
    +cover(['math_srf'],
           '2009 &mdash; 2013',
           '../img/mathsrf/paper_rose_main.png',
           [
                'Mathematical form finding using parametric equations.'
           ])

    +dual-left-image('../img/mathsrf/dog_bowl.png',
                     '../img/mathsrf/dog_bowl_formula.svg')

    +dual-right-image('../img/mathsrf/flame.png',
                      '../img/mathsrf/flame_formula.svg')

    +dual-left-image('../img/mathsrf/hexa.png',
                     '../img/mathsrf/hexa_formula.svg')

    +dual-right-image('../img/mathsrf/paper_rose.png',
                      '../img/mathsrf/paper_rose_formula.svg')

    +dual-left-image('../img/mathsrf/twister.png',
                     '../img/mathsrf/twister_formula.svg')
