//- INFO --
//- INFO --

extends _project

block title
    title Mac OS X Cursor

block project
    +cover(['mickey'],
           '2012',
           '../img/mickey/redesign.png',
           [
                'Redesign of the famous Mickey Mouse hand cursor of Mac OS X.'
           ])

    +left-image('../img/mickey/old_vs_new.png',
                'The original version (left) compared to the ' +
                'new version (right), both designed by Apple.',
                'background: #FFFFFF; color: #3D4759;')

    +right-image('../img/mickey/new_vs_redesign.png',
                 'Pixelisation of the new version (top) and ' +
                 'the redesigned version (bottom)',
                 'background: #FFFFFF; color: #3D4759;')
