//- INFO --
//- INFO --

extends _project

block title
    title Various and Random

block project
    +cover(['var'],
           '2008 &mdash; 2014',
           '../img/var/var1.png',
           [
                'Various and random prototypes.'
           ])

    +image('../img/var/var2.png')
